body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#body {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  overflow: hidden;
}

.flickity-page-dots {
  position: absolute;
  bottom: 0;
  background-color: #C7AD9B;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flickity-page-dots .dot {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  opacity: 1;
}
.flickity-page-dots .dot.is-selected {
  border: 0.2rem solid white;
}

@media only screen and (max-width: 750px) {
  .width {
    width: 100%;
  }
}
.dot:first-of-type {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 10;
  opacity: 1;
  margin: 0;
}
.dot:first-of-type i {
  font-size: 1.5rem;
  width: 100%;
  pointer-events: none;
}

#header {
  background-color: #C7AD9B;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#header div:first-of-type {
  display: flex;
  align-items: center;
}
#header div:first-of-type a {
  text-decoration: none;
}
#header div:first-of-type a h1 {
  color: #c72c44;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  width: 100%;
  text-align: left;
  margin: 0;
}

#sidenav {
  display: block;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  padding-bottom: 4rem;
  position: relative;
}
#sidenav #search {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#sidenav #search input {
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;
}
#sidenav #search button {
  width: 10%;
  padding: 0.5rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.5);
  height: 2rem;
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
#sidenav ul {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  align-items: center;
}
#sidenav ul li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#sidenav ul li a {
  color: black;
  font-family: "Poppins", sans-serif;
}
#sidenav ul li:first-of-type {
  margin-top: 1rem;
}

#flash {
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  border: 2px solid #155724;
  position: fixed;
  left: 50%;
  margin-left: -50%;
  bottom: 0;
  z-index: 20;
  display: none;
}
#flash h3 {
  font-size: 1rem;
}
#flash i {
  font-size: 1rem;
}
#flash i:first-of-type {
  margin-right: 1rem;
}
#flash i:last-of-type {
  margin-left: auto;
}

/*# sourceMappingURL=base.css.map */
