#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}
#modal #update-profile {
  background-color: #dae8ec;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}
#modal #update-profile input {
  width: 90%;
}
#modal #update-profile div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal #update-profile div:first-of-type p {
  font-size: 2rem;
}
#modal #update-profile div:first-of-type p:last-of-type {
  margin-left: 0.5rem;
}
#modal #update-profile label {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
#modal #update-profile ul {
  padding: 0;
  display: none;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  width: 90%;
}
#modal #update-profile ul li {
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
}
#modal #update-profile ul li i {
  margin: 0;
  font-size: 3rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#modal #update-profile ul .selected {
  border: 1px solid red;
}
#modal #update-profile p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
#modal #update-profile a {
  width: 20rem;
  margin-top: 2rem;
}
#modal #update-profile a:hover {
  cursor: pointer;
}
#modal #update-profile button {
  width: 20rem;
  margin-top: 2rem;
}
#modal #update-profile textarea {
  resize: none;
  height: 10rem;
  width: 90%;
}
#modal #update-profile > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-password {
  background-color: #dae8ec;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}
#modal #update-password input {
  width: 90%;
}
#modal #update-password button {
  width: 20rem;
  margin-top: 2rem;
}
#modal #update-password a {
  margin-top: 2rem;
  width: 20rem;
}
#modal #update-password label {
  margin-top: 1rem;
  font-weight: 500;
}
#modal #update-password > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#modal #delete-account {
  background-color: #dae8ec;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#modal #delete-account a {
  width: 20rem;
}
#modal #delete-account a:first-of-type {
  margin-top: 2rem;
  color: white;
}
#modal #delete-account a:last-of-type {
  margin-top: 3rem;
}
#modal #delete-account > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#bio {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #dae8ec;
}
#bio h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
#bio div:first-of-type p {
  text-align: center;
  background-color: white;
}
#bio div:first-of-type i {
  font-size: 15rem;
  width: 100%;
  text-align: center;
}
#bio div:last-of-type {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#bio div:last-of-type button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#bio div:last-of-type ul {
  border: 0.1rem solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: lightblue;
  width: 100vw;
}
#bio div:last-of-type ul li {
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#reviews {
  width: 100%;
  background-color: #dac5bc;
  margin-top: 1rem;
  text-align: center;
}
#reviews div div {
  margin-top: 0.5rem;
}
#reviews div div a {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
}
#reviews div div p {
  margin-top: 1rem;
  color: #c72c44;
  font-size: 1.5rem;
}
#reviews div div a:last-of-type {
  margin-top: 1rem;
}
#reviews div div:last-of-type {
  margin-bottom: 1rem;
}
#reviews a {
  font-size: 1.2rem;
}

.dropdown-menu li:hover {
  cursor: pointer;
  box-shadow: inset 50rem 50rem rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1000px) {
  #modal #update-profile {
    width: 80%;
  }
  #modal #update-profile ul {
    width: 50%;
  }
  #modal #update-profile input {
    width: 50%;
  }
  #modal #update-profile textarea {
    width: 50%;
  }
  #modal #update-password {
    width: 80%;
  }
  #modal #update-password input {
    width: 50%;
  }
  #modal #delete-account {
    width: 80%;
  }

  #bio {
    width: 80%;
  }
  #bio div:last-of-type ul {
    width: 30rem;
  }

  #reviews {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=profile.css.map */
