#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;
  display: none;
}
#modal #update-profile {
  background-color: #dae8ec;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}
#modal #update-profile div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#modal #update-profile div input {
  width: 90%;
}
#modal #update-profile div div:first-of-type {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  overflow: auto;
}
#modal #update-profile div div:first-of-type p {
  font-size: 2rem;
  word-break: break-all;
}
#modal #update-profile div div:first-of-type p:last-of-type {
  margin-left: 0.5rem;
}
#modal #update-profile div label {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}
#modal #update-profile div ul {
  padding: 0;
  display: none;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 90%;
  min-height: 4.1rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-profile div ul li {
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
}
#modal #update-profile div ul li i {
  margin: 0;
  font-size: 3rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#modal #update-profile div ul .selected {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}
#modal #update-profile div p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
#modal #update-profile div a {
  width: 18rem;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-profile div a:hover {
  cursor: pointer;
}
#modal #update-profile div button {
  width: 18rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-profile div textarea {
  resize: none;
  min-height: 10rem;
  width: 90%;
}
#modal #update-profile div em {
  font-size: 0.9rem;
  display: block;
}
#modal #update-profile > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-password {
  background-color: #dae8ec;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}
#modal #update-password div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#modal #update-password div em {
  display: block;
  font-size: 0.9rem;
}
#modal #update-password div input {
  width: 90%;
}
#modal #update-password div button {
  width: 18rem;
  margin-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#modal #update-password div a {
  margin-top: 2rem;
  width: 18rem;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
#modal #update-password div label {
  margin-top: 1rem;
  font-weight: 500;
  display: block;
}
#modal #update-password div label:first-of-type {
  margin-top: 3rem;
}
#modal #update-password > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#modal #delete-account {
  background-color: #dae8ec;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#modal #delete-account div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#modal #delete-account div a {
  width: 18rem;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#modal #delete-account div a:first-of-type {
  margin-top: 2rem;
  color: white;
}
#modal #delete-account div a:last-of-type {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#modal #delete-account div strong {
  display: block;
  margin-top: 3rem;
}
#modal #delete-account > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#bio {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #dae8ec;
}
#bio h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
#bio div:first-of-type p {
  text-align: center;
  background-color: white;
}
#bio div:first-of-type i {
  font-size: 15rem;
  width: 100%;
  text-align: center;
}
#bio div:last-of-type {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#bio div:last-of-type button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#bio div:last-of-type ul {
  border: 0.1rem solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: lightblue;
  width: 100vw;
  z-index: 1;
}
#bio div:last-of-type ul li {
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#reviews {
  width: 100%;
  background-color: #dac5bc;
  margin-top: 1rem;
  text-align: center;
}
#reviews div:last-of-type {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 400;
}
#reviews div:last-of-type p {
  margin: 0;
  color: #212529;
}
#reviews div div {
  margin-top: 0.5rem;
}
#reviews div div a {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
}
#reviews div div p:first-of-type {
  margin-top: 1rem;
  color: #c72c44;
  font-size: 1.5rem;
}
#reviews div div p:last-of-type {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
#reviews div div:last-of-type {
  margin-bottom: 1rem;
}
#reviews a {
  font-size: 1.2rem;
}

.dropdown-menu li:hover {
  cursor: pointer;
  box-shadow: inset 50rem 50rem rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1000px) {
  #modal #update-profile {
    width: 80%;
  }
  #modal #update-profile div {
    height: auto;
  }
  #modal #update-profile div ul {
    width: 50%;
  }
  #modal #update-profile div input {
    width: 50%;
  }
  #modal #update-profile div textarea {
    width: 50%;
  }
  #modal #update-password {
    width: 80%;
  }
  #modal #update-password div {
    height: auto;
  }
  #modal #update-password div input {
    width: 50%;
  }
  #modal #delete-account {
    width: 80%;
  }
  #modal #delete-account div {
    height: auto;
  }

  #bio {
    width: 80%;
  }
  #bio div:last-of-type ul {
    width: 30rem;
  }

  #reviews {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=profile.css.map */
