@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  position: relative;
}

body {
  overflow: hidden;
  background-color: #C7AD9B;
}

#right-side {
  position: block;
  padding-top: 4.5rem;
  left: 100vh;
  width: 100vw;
  background-color: #c0d3d4;
  height: 100%;
  overflow-y: scroll;
}

#whiskey-details {
  position: absolute;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  background-color: #CAD4C0;
  padding-top: 4.5rem;
}
#whiskey-details div:nth-of-type(1) {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}
#whiskey-details div:nth-of-type(1) h3 {
  margin: 0;
}
#whiskey-details div:nth-of-type(2) {
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
#whiskey-details div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
#whiskey-details div:nth-of-type(3) {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}
#whiskey-details div:nth-of-type(4) {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  text-align: center;
}
#whiskey-details div:nth-of-type(4) p:first-of-type {
  font-size: 2rem;
}
#whiskey-details div:nth-of-type(4) p:last-of-type {
  font-size: 1.2rem;
}
#whiskey-details div:nth-of-type(4) a {
  margin-bottom: 0.5rem;
}

#filters {
  display: none;
}

#comments {
  width: 100%;
  height: 3rem;
  margin: 0;
  border: 0;
  display: flex;
  background-color: #c0d3d4;
  box-shadow: inset 50rem 50rem rgba(0, 0, 0, 0.1);
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  align-content: center;
}
#comments p:first-of-type {
  margin-left: 1rem;
  font-size: 1.5rem;
}
#comments a {
  margin-left: auto;
  font-size: 1.2rem;
}
#comments span {
  margin-right: 1rem;
  display: flex;
  margin-left: 0.5rem;
}
#comments span i {
  font-size: 1.1rem;
  align-self: center;
}
#comments span p:last-of-type {
  margin: 0;
  margin-left: -0.5rem;
}

#comments > * {
  margin: 0;
  padding: 0;
}

#filters {
  height: 8%;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.reviews {
  width: 100%;
  border: 0.5rem double rgba(0, 0, 0, 0.1);
}
.reviews div:nth-of-type(1) div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.reviews div:nth-of-type(1) div:first-of-type #edit-delete {
  width: 50%;
  margin-left: auto;
}
.reviews div:nth-of-type(1) div:first-of-type #edit-delete div {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
.reviews div:nth-of-type(1) div:first-of-type #edit-delete div a {
  width: 50%;
  margin: 0.25rem;
  height: 2rem;
}
.reviews div:nth-of-type(1) div:first-of-type span {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  align-items: center;
}
.reviews div:nth-of-type(1) div:first-of-type span a {
  width: 100%;
  display: flex;
  align-items: center;
}
.reviews div:nth-of-type(1) div:first-of-type span a i {
  margin-right: 0.5rem;
  border: 1px solid #0468ff;
  border-radius: 50%;
  padding: 0.25rem;
  overflow: hidden;
}
.reviews div:nth-of-type(1) div:first-of-type span p {
  font-size: 1rem;
}
.reviews div:nth-of-type(1) div:first-of-type h4 {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.1rem;
}
.reviews div:nth-of-type(1) div:first-of-type p {
  font-size: 1rem;
  color: #c72c44;
  margin: 0;
}
.reviews div:nth-of-type(1) p {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}

hr {
  width: 80%;
  border-top: 0.25rem solid #C7AD9B;
  background-color: #CAD4C0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

hr:last-of-type {
  display: none;
}

#leave-review {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 80vh;
  background-color: #CAD4C0;
  margin: 0;
  width: 100%;
  border: 0;
  align-items: center;
  margin-top: 0.5rem;
  border: 0.5rem double rgba(0, 0, 0, 0.1);
  margin-bottom: 3.5rem;
}
#leave-review input {
  width: 80%;
  background-color: transparent;
  border: 0.1rem rgba(0, 0, 0, 0.5) solid;
  border-radius: 1rem;
  padding: 0.5rem;
}
#leave-review label {
  font-weight: 400;
  font-size: 1.2rem;
}
#leave-review #rating {
  font-size: 1.5rem;
  color: #c72c44;
}
#leave-review #score {
  opacity: 0;
  width: 10px;
}
#leave-review textarea {
  border-radius: 1rem;
  padding: 0.5rem;
  resize: none;
  width: 80%;
  background-color: transparent;
  border: 0.1rem rgba(0, 0, 0, 0.5) solid;
}
#leave-review button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#leave-review a {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#leave-review button {
  margin-top: 1rem;
}
#leave-review a {
  margin-top: 1rem;
}

/*# sourceMappingURL=whiskey.css.map */
