{% extends "base.html" %}

{% block content %}
    
    <form id="add-whiskey" class="carousel-cell" method="POST" action="{{ url_for('add_whiskey') }}">
        <h2>Add a whiskey</h2>
        <div class="row">
            <div class="col-sm-6">
                <img id="img" src="#" alt="whiskey image goes here">
            </div>
            <div class="col-sm-6">
                <label for="whiskey-name">Whiskey Name</label>
                <input id="whiskey-name" name="whiskey-name" type="text" placeholder="e.g. Mourne Irish Whiskey" required>

                <label for="whiskey-type">Whiskey Type</label>
                <input id="whiskey-type" name="whiskey-type" type="text" placeholder="e.g. Irish" required>  
                
                <label for="image-url">Whiskey Image Url: <span>Image must be .jpg, .jpeg, or .png</span></label>
                <input id="image-url" name="image-url" type="text" required>

            </div>
        </div>
        <div class="row">
            <label for="description">Description</label>
            <textarea name="description" minlength="100" maxlength="580" id="descript" cols="30" rows="10" placeholder="What's important to know about this whiskey?" required></textarea>
            <button type="submit">SUBMIT</button>
        </div>
    </form>

{% endblock %}