{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-whiskey.css') }}" />
{% endblock %}

{% block content %}
    
    <form id="add-whiskey" method="POST" action="{{ url_for('add_whiskey') }}">
        <h2>Add a whiskey</h2>
        <div class="row">
            <div class="col-lg-6 col-12">
                <img id="img" src="#" alt="whiskey image goes here">
            </div>
            <div class="col-lg-6 col-12">
                <label for="whiskey-name">Whiskey Name</label>
                <input id="whiskey-name" name="whiskey-name" type="text" placeholder="e.g. Mourne Irish Whiskey" required>

                <label for="whiskey-type">Whiskey Type</label>
                <input id="whiskey-type" name="whiskey-type" type="text" placeholder="e.g. Irish" required>  
                
                <label for="image-url">Whiskey Image Url: <span>Image must be .jpg, .jpeg, or .png</span></label>
                <input id="image-url" name="image-url" type="text" placeholder="https://whiskey.jpg" required>

            </div>
        </div>
        <div class="row">
            <label for="description">Description</label>
            <textarea name="description" minlength="100" maxlength="580" id="descript" cols="30" rows="10" placeholder="What's important to know about this whiskey?" required></textarea>
            {% if session['username'] %}
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            {% else %}
                <a href="{{ url_for('register') }}">Register an account to add a whiskey.</a>
            {% endif %}                
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/add-whiskey.js') }}"></script>
{% endblock %}