{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
{% endblock %}

{% block content %}

    <div id="modal">
        <form id="update-profile" method="POST" action="{{ url_for('update_profile', username = userDetails['username']) }}">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" value="{{ userDetails['username'] }}">

            <label for="biography">Bio</label>
            <textarea id="biography" name="biography">{{ userDetails['bio'] }}</textarea>

            <div class="dropdown">
                <input id="profile-pic" name="profile-pic" type="text" value="{{ userDetails['profile_pic'] }}">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ userDetails['profile_pic']|safe }}
                </button>
                <ul id="select-pic" class="dropdown-menu" aria-labelledby="profile">
                    <li><i class="far fa-user"></i></li>
                    <li><i class="fas fa-user-tie"></i></li>
                    <li><i class="fas fa-user-secret"></i></li>
                    <li><i class="fas fa-user-ninja"></i></li>
                    <li><i class="fas fa-user-circle"></i></li>
                    <li><i class="fas fa-snowboarding"></i></li>
                    <li><i class="fas fa-smile"></i></li>
                    <li><i class="far fa-smile"></i></li>
                    <li><i class="fas fa-skiing"></i></li>
                    <li><i class="fas fa-poo"></i></li>
                    <li><i class="fas fa-taxi"></i></li>
                    <li><i class="fab fa-suse"></i></li>
                    <li><i class="fas fa-dragon"></i></li>
                    <li><i class="fas fa-chess"></i></li>
                    <li><i class="fas fa-radiation"></i></li>
                    <li><i class="fas fa-atom"></i></li>
                    <li><i class="fas fa-dice"></i></li>
                    <li><i class="fas fa-dice-d20"></i></li>
                    <li><i class="fas fa-ghost"></i></li>
                    <li><i class="fas fa-wave-square"></i></li>
                </ul>
            </div>
            <a class="btn btn-secondary cancel">CANCEL</a>
            <button class="btn btn-primary"type="submit">SUBMIT</button>
        </form>
        <form id="update-password" method="POST" action="{{ url_for('update_password', username = userDetails['username']) }}">
            <input type="password">
            <input type="password">
            <a class="btn btn-secondary cancel">CANCEL</a>
            <button class="btn btn-primary">SUBMIT</button>
        </form>
        <div id="delete-account" method="POST" action="{{ url_for('delete_account', username = userDetails['username']) }}">
            Are you sure you would like to delete your account? This will permanently delete your account details and reviews.
            <a class="btn btn-secondary cancel">CANCEL</a>
            <a class="btn btn-danger">DELETE</a>
        </div>
    </div>

    <div id="bio" class="row">
        <h3 class="col-12">{{ userDetails["username"] }}</h3>
        <div class="col-4">
            {{ userDetails['profile_pic']|safe }}
        </div>
        <div class="col-8">
            {{ userDetails["bio"] }}
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li id="open-update-profile">update profile</li>
                <li id="open-update-password">update password</li>
                <li id="open-delete-account">delete account</li>
                <!-- <li><i class="far fa-user"></i></li>
                <li><i class="fas fa-user-tie"></i></li>
                <li><i class="fas fa-user-secret"></i></li>
                <li><i class="fas fa-user-ninja"></i></li>
                <li><i class="fas fa-user-circle"></i></li>
                <li><i class="fas fa-snowboarding"></i></li>
                <li><i class="fas fa-smile"></i></li>
                <li><i class="far fa-smile"></i></li>
                <li><i class="fas fa-skiing"></i></li>
                <li><i class="fas fa-poo"></i></li>
                <li><i class="fas fa-taxi"></i></li>
                <li><i class="fab fa-suse"></i></li>
                <li><i class="fas fa-dragon"></i></li>
                <li><i class="fas fa-chess"></i></li>
                <li><i class="fas fa-radiation"></i></li>
                <li><i class="fas fa-atom"></i></li>
                <li><i class="fas fa-dice"></i></li>
                <li><i class="fas fa-dice-d20"></i></li>
                <li><i class="fas fa-ghost"></i></li>
                <li><i class="fas fa-wave-square"></i></li> -->
            </ul>
        </div>
    </div>

    {% if user_reviews.count() > 0 %}
        {% for doc in user_reviews %}
            <div class="width row">
                <div class="col-4">
                    <img src="#" alt="#">
                    <p><a href="{{ url_for('whiskey', whiskey_name = doc['drink']) }}">{{ doc['drink'] }}</a></p>
                </div>
                <div class="col-8">
                    <h3>{{ doc['title'] }}</h3>
                    <p>{{ doc['score'] }}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    </p>
                    <p>{{ doc['review'] }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div class="width">
                <p>This user has not left any reviews :(</p>
            </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}