{% extends "base.html" %}

{% block content %}

<div id="container" class="carousel-cell">
    <div id="searched" class="row width">
        <h2>"{{ searched_value }}" search results</h2>
    </div>
    <hr />
    {% if results|length > 0 %}
        <div id="results" class="row width">
            {% for whiskey in results %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <img src="{{ whiskey.image_location }}" alt="Image of {{ whiskey.drink }} Whiskey">
                <a href="{{ url_for('whiskey', whiskey_name = whiskey.drink) }}">
                    <p name="whiskey_name">{{ whiskey.drink }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="width">Sorry... "{{ searched_value }}" has returned no results</p>
    {% endif %}
</div>

{% endblock %}