{% extends "base.html" %}

    <!-- stylesheets -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/whiskey.html/whiskey-details.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/whiskey.html/comments.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/whiskey.html/reviews.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/whiskey.html/leave-review.css') }}" />
    {% endblock %}

{% block content %}
    

    <div id="whiskey-details" class="row">
        <div>
            <img src="{{ whiskeyDetails.image_location }}" alt="Image of {{ whiskeyDetails.drink }} whiskey">
        </div>

        <div>
            <div>
                <h3>{{ whiskeyDetails.drink }}</h3>
            </div> 
            <div>
                <p>{{ whiskeyDetails.description }}</p>
            </div>
        </div>
        
        <div>
                <p>
                    {% if whiskeyDetails['average_score'] == 0 %}
                        No rating yet
                    {% elif whiskeyDetails['average_score'] == 1 %}
                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif whiskeyDetails['average_score'] == 2 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif whiskeyDetails['average_score'] == 3 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif whiskeyDetails['average_score'] == 4 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    {% elif whiskeyDetails['average_score'] == 5 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    {% endif %}
                </p>                                           
                <p>Type: <em>{{ whiskeyDetails.type }}</em></p>
                <a href="{{ url_for('edit_whiskey', whiskey_name = whiskeyDetails['drink']) }}" class="btn btn-primary">UPDATE</a>
                {% if session["username"] == "admin" %}
                    <a id="admin-delete-whiskey" role="button" class="btn btn-danger" tabindex="0">DELETE</a>
                {% endif %}
        </div>
    </div>

    <!-- comments row  -->
    <div id="comments" class="row width">
        <div>
            <p>REVIEWS</p> 
            <i class="far fa-comment-alt"></i> 
            <p>{{ find_reviews.count() }}</p>
        </div>
        <a href="#leave-review"><i class="fas fa-mouse-pointer"></i> Leave a comment?</a>
    </div>

    <!-- delete whiskey (admin only) -->
    {% if session["username"] == "admin" %}
        <div id="delete-whiskey" class="delete">
            <div>            
                Are you sure you want to delete this Whiskey?
                <span>
                    <button class="btn btn-secondary cancel">CANCEL</button>
                    <a href="{{ url_for('delete_whiskey', whiskey_name = whiskeyDetails['drink']) }}" class="btn btn-danger">DELETE</a>
                </span>
            </div>
        </div>
    {% endif %}

    <!-- delete reviews -->
    <div id="delete-review" class="delete">
        <div>            
            Are you sure you want to delete this review?
            <span>
                <button class="btn btn-secondary cancel">CANCEL</button>
                <a href="{{ url_for('delete_review', whiskey_name = whiskeyDetails['drink']) }}" class="btn btn-danger">DELETE</a>
            </span>
        </div>
    </div>
 
    <!-- reviews -->
    {% if find_reviews.count() > 0 %}
        {% for review in find_reviews %}
        <div class="reviews width">
            <div>
                <div>
                    <div>
                        <div>                            
                            <a href="{{ url_for('profile', username = review['username']) }}" aria-label="{{ review['username'] }} profile page">{{ review['profile_pic']|safe }} {{ review['username'] }}</a>
                            <p class="time">{{ moment(review['time']).format('h:mm a. Do MMM YYYY') }}</p>
                        {% if session['username'] == review['username'] %}
                            <div id="edit-delete" class="dropdown">
                                <button type="button" id="dropdownMenuButton" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="edit or delete review">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a id="edit-review" href="#leave-review" type="button" class="btn btn-primary" role="button">EDIT</a></li>
                                    <li><a id="delete" type="button" role="button" class="btn btn-danger" tabindex="0">DELETE</a></li>
                                </ul>
                            </div>                                                 
                        {% endif %}                       
                        </div>    
                    </div>
                    <div>
                        {% if session["username"]  == review["username"] %}
                            <p id="user-rating" class="user-rating">
                        {% else %}
                            <p class="user-rating">
                        {% endif %}
                            {% if review["score"] == 0 %}
                                No rating yet
                            {% elif review["score"] == 1 %}
                                <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif review["score"] == 2 %}
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif review["score"] == 3 %}
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif review["score"] == 4 %}
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                            {% elif review["score"] == 5 %}
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% endif %}
                            </p>                            
                            <!-- Tag pairing error can be ignored.  -->
                        <h3>{{ review['title'] }}</h3>
                    </div>                    
                </div>
                <p>{{ review['review'] }}</p>
            </div>
                
                {% if session["username"] == review['username'] %}
                    <!-- This script uses values from Jinja so had to be added inline instead of externally -->
                    <script>
                        // jshint esversion: 6
                        // This object is called in static/js/whiskey.js
                        let userReview = {
                            title: String("{{ review['title'] }}"),
                            score: String("{{ review['score'] }}"),
                            review: String("{{ review['review'] }}"),
                            starRating: document.getElementById("user-rating").innerHTML,
                            edit: function () {
                                document.getElementById("review-title").value = this.title;
                                document.getElementById("score").value = this.score;
                                document.getElementById("review").value = this.review;
                                document.getElementById("rating").innerHTML = this.starRating;
                            }
                        };                        
                    </script>
                {% endif %}

            </div>
        {% endfor %}
    <!-- If there are no reviews -->
    {% else %}
        <div class="no-reviews width">
            <p>This drink has no reviews yet<br>
            {% if session %}
                <a href="#leave-review">Be the first to review this drink?</a></p>
            {% else %}
                <a href="{{ url_for('register') }}">Be the first to review this drink?</a></p> 
                <!-- tag pairing error can be ignored -->
            {% endif %}
        </div>
    {% endif %}

    <!-- leave-review -->
    <form id="leave-review" class="width" method="POST" action="{{ url_for('review', whiskey_name = whiskeyDetails.drink) }}">
        <h3>LEAVE A REVIEW?</h3>

        <label for="review-title">REVIEW TITLE</label>
        <input id="review-title" name="review-title" type="text" required>

        <label for="score">SCORE</label>
        <div id="rating" title="Please leave a rating.">
            <i tabindex="0" class="far fa-star"></i><i tabindex="0" class="far fa-star"></i><i tabindex="0" class="far fa-star"></i><i tabindex="0" class="far fa-star"></i><i tabindex="0" class="far fa-star"></i>
        </div>
        <input id="score" name="score" type="number" min="1" max="5" required>

        <label for="review">YOUR REVIEW</label>
        <textarea id="review" name="review" cols="30" rows="10" required></textarea>

        {% if session['username'] %}
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        {% else %}
            <a href="{{ url_for('register') }}">Register an account to review this whiskey.</a>
        {% endif %}
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/whiskey.js') }}"></script>
{% endblock %}