{% extends "base.html" %}

{% block content %}
    

    <div id="whiskey-details" class="row">
        <div>
            <img src="{{ whiskeyDetails.image_location }}" alt="Image of {{ whiskeyDetails.drink }} whiskey">
        </div>

        <div>
            <div>
                <h3>{{ whiskeyDetails.drink }}</h3>
                <!-- <p>
                    {% if average_score == 0 %}
                        No rating yet
                    {% elif average_score == 1 %}
                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 2 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 3 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 4 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 5 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    {% endif %}
                </p> -->
            </div> 
            <article>
                <!-- <h4>Whiskey Description</h4> -->
                <p>{{ whiskeyDetails.description }}</p>
            </article>
        </div>
        
        <div>
                <p>
                    {% if average_score == 0 %}
                        No rating yet
                    {% elif average_score == 1 %}
                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 2 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 3 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 4 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    {% elif average_score == 5 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    {% endif %}
                </p>                                           
                <p>Type: <em>{{ whiskeyDetails.type }}</em></p>
                {% if session["username"] %}
                    <a href="{{ url_for('edit_whiskey', whiskey_name = whiskeyDetails['drink']) }}" type="button" class="btn btn-primary">UPDATE</a>
                {% endif %}
                {% if session["username"] == "admin" %}
                    <a href="{{ url_for('delete_whiskey', whiskey_name = whiskeyDetails['drink']) }}" type="button" class="btn btn-danger">DELETE</a>
                {% endif %}
        </div>
    </div>

    <!-- comments row  -->
    <div id="comments" class="row width">
        <p>REVIEWS</p>
        <a href="#leave-review">Leave a comment?</a>
        <span>
            <span><i class="far fa-comment-alt"></i></span>
            <p>{{ find_reviews.count() }}</p>
        </span>
    </div>
    <hr>

    <!-- reviews -->
    {% if find_reviews.count() > 0 %}
        {% for review in find_reviews %}
        <div class="reviews width">
            <div>
                <div>
                    <h3>{{ review['title'] }}</h3>
                    <!-- <p>Added some time ago</p> -->
                    <p id="user-rating">
                        {% if review["score"] == 0 %}
                            No rating yet
                        {% elif review["score"] == 1 %}
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif review["score"] == 2 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif review["score"] == 3 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif review["score"] == 4 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% elif review["score"] == 5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                    </p>
                </div>
                <p>{{ review['review'] }}</p>
            </div>
            <div class="user">
                <h3><a href="{{ url_for('profile', username = review['username']) }}">{{ review['username'] }}</a></h3>
                <i class="fas fa-user-alt"></i>
                {% if session['username'] == review['username'] %}
                <div id="edit-delete">
                    <div>
                        <a id="edit-review" href="#leave-review" type="button" class="btn btn-primary">EDIT</a>
                        <a href="{{ url_for('delete_review', whiskey_name = whiskeyDetails.drink) }}" type="button"
                            class="btn btn-danger">DELETE</a>
                    </div>
                </div>

                <script>
                    let userReview = {
                        title: "{{ review['title'] }}",
                        score: "{{ review['score'] }}",
                        review: "{{ review['review'] }}",
                        starRating: document.getElementById("user-rating").innerHTML,
                        edit: function () {
                            document.getElementById("review-title").value = this.title;
                            document.getElementById("score").value = this.score;
                            document.getElementById("review").value = this.review;
                            document.getElementById("rating").innerHTML = this.starRating;

                        }
                    }

                    document.getElementById("edit-review").addEventListener("click", function () {
                        userReview.edit();
                        starRating(1);
                        starRating(2);
                        starRating(3);
                        starRating(4);
                        starRating(5);
                    });
                </script>

                {% endif %}
            </div>
        </div>
    <hr>

        {% endfor %}
    {% else %}
        <div class="width">
            <p>This drink has no reviews yet</p>
        </div>
    {% endif %}

    <!-- leave-review -->
    <form id="leave-review" class="width" method="POST" action="{{ url_for('review', whiskey_name = whiskeyDetails.drink) }}">
        <h3>LEAVE A REVIEW?</h3>

        <label for="review-title">REVIEW TITLE</label>
        <input id="review-title" name="review-title" type="text" required>

        <label for="score">SCORE</label>
        <div id="rating" title="Please leave a rating.">
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        </div>
        <input id="score" name="score" type="number" min="1" max="5" required>


        <label for="review">YOUR REVIEW</label>
        <textarea id="review" name="review" cols="30" rows="10" required></textarea>

        {% if session['username'] %}
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        {% else %}
            <a href="{{ url_for('register') }}">Register an account to review this whiskey.</a>
        {% endif %}
    </form>

{% endblock %}