$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;

#add-whiskey {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: $color1;
    color: $color5;
    text-align: center;
    h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    div:first-of-type {
        div:first-of-type {
            display: flex;
            flex-direction: column;
            img {
                height: 20rem;
                object-fit: scale-down;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 1rem;
            }
            button {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
            }
        }
        div:last-of-type {
            display: flex;
            flex-direction: column;
            label {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-weight: 600;
                font-size: 1.2rem;
                em {
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
            input {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5rem;
                padding: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    div:last-of-type {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        label {
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        textarea {
            resize: none;
            border: 0.1rem solid rgba(0, 0, 0, 0.8);
            border-radius: 1rem;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        button {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 15rem;
            height: 3rem;
            margin-left: auto;
            font-size: 1.2rem;
            margin-right: auto;
        }
        a {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            width: 15rem;
            height: 3rem;
            margin-left: auto;
            margin-right: auto;
        }
        em {
            font-size: 0.9rem;
            margin-bottom: 1rem;
            display: block;
            margin-top: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        #link {
            color: #0063cc;
            width: 18rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    #add-whiskey {
        width: 100%;
        border-radius: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        div:first-of-type {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            div:first-of-type {
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }
            div:last-of-type {
                padding: 0;
                label {
                    width: 100%;
                    margin-top: 1rem;
                }
                input {
                    width: 90%;
                }
            }
        }
        div:last-of-type {
            width: 100%;
            padding: 0;
            label {
                margin-top: 1rem;
            }
            textarea {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}