@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: rgba(255, 255, 255, 0.4);
$color2: white;
$color3: #BDAAA6;
$color4: rgba(153, 122, 115);

body {
    position: relative;
    overflow-x: hidden;
}

.width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 750px) {
    .width {
        width: 100%;
    }
}

// background image

#background-image {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: inset 100rem 100rem rgba(17, 38, 39, 0.1);
    // background-image: url("https://media.istockphoto.com/photos/starburst-on-lights-in-bourbon-aging-warehouse-picture-id859708976?k=6&m=859708976&s=612x612&w=0&h=23DFdTFiN-0Rv7dHtK6LD5whSmlbNFK-Hb_d7QS6aEU=");
    background-repeat: no-repeat;
    background-size: cover;
    // filter: blur(4px);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Header
$header-height: 5rem;
#header {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    height: $header-height;
    background-color: $color3;
    border-bottom: 0.5rem double $color2;
    border-top: 0.5rem double $color2;
    div:first-of-type {
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            a {
                text-decoration: none;
                h1 {
                    color: #741B07;
                    font-family: 'Raleway', sans-serif;
                    font-size: 500;
                    background-color: $color3;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    height: 100%;
                    margin: 0;
                }
            }
        }
    }
    div:last-of-type {
        display: flex;
        align-items: center;
        form {
            margin-left: auto;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            background-color: $color3;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            input {
                width: 80%;
                border: 0.2rem solid #741B07;
                border-radius: 5rem;
                padding: 0.5rem;
                height: 2.8rem;
                padding-right: 4rem;
            }
            button {
                height: 2.8rem;
                width: 2.8rem;
                background-color: transparent;
                color: $red;
                position: absolute;
                right: 22%;
                color: #741B07;
                font-size: 1.5rem;
                border: 0;
                border-left: solid 0.2rem #741B07;
            }
        }
        #navbar-toggle {
            display: flex;
            margin-left: 2rem;
            font-size: 1.6rem;
            border: 0.2rem solid #741B07;
            height: 2.8rem;
            border-radius: 50%;
            width: 2.8rem;
            background-color: white;
            color: #741B07;
            position: absolute;
            right: 10%;
            top: 0.5rem;
            i {
                width: 100%;
                text-align: center;
            }
        }
        #navbar-toggle:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1000px) {
    #header {
        height: 8rem;
        padding: 0;
        div:first-of-type {
            width: 100%;
            text-align: center;
            h1 {
                font-size: 2rem;
                width: 100%;
                margin-top: 0.5rem;
                margin-bottom: 0;
            }
        }
    }
}
// Sidenav
$sidenav-width: 15rem;
#navbar-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
} #navbar-background:hover {
    cursor: pointer;
}
#sidenav {
    z-index: 3;
    position: absolute;
    top: 0;
    right: - $sidenav-width;
    width: $sidenav-width;
    height: 100vh;
    background-color: $green;
    color: $red;
    display: none;
    #close-navbar {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2rem;
        background-color: white;
        border-radius: 50%;
        border: 1px solid $red;
        margin-left: auto;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        i {
            width: 100%;
            text-align: center;
        }
    } #close-navbar:hover {
        cursor: pointer;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        padding: 0;
        li {
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 0.5rem;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            width: 90%;
            text-align: center;
            font-size: 1.5rem;
            list-style-type: none;
            border: 0.3rem double rgba(0, 0, 0, 0.2);
            a {
                color: $red;
            }
        }
    }
}

// Flashed messages
#flash {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    border-radius: 10px;
    margin-top: 1rem;
    border: 2px solid #155724;
    i {
        font-size: 2.2rem;
    }
    i:first-of-type {
        margin-right: 1rem;
    }
    i:last-of-type {
        margin-left: auto;
    }
}