.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    h2 {
        margin-top: 1rem;
    }
    label {
        width: 75%;
    }
    input {
        width: 75%;
        margin-bottom: 1rem;
    }
    button {
        width: 25%;
        margin-bottom: 1rem;
    }
    a {
        margin-bottom: 1rem;
    }
}