$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    color: $color5;
    text-align: center;
    h2 {
        margin-bottom: 2rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    label {
        width: 75%;
        font-weight: 600;
        font-size: 1.1rem;
    }
    em {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        margin-top: -0.5rem;
    }
    input {
        width: 75%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    a {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        color: #0063cc;
    }
    button {
        margin-top: 1rem;
        width: 12rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1180px) {
    .form {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .form {
        width: 100%;
        border-radius: 0;
        input {
            width: 100%;
        }
        button {
            width: 90%;
        }
    }
}