$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    h2 {
        margin-top: 1rem;
    }
    label {
        width: 75%;
        font-weight: 400;
    }
    input {
        width: 75%;
        margin-bottom: 1rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
        padding: 0.5rem;
    }
    button {
        width: 25%;
        margin-bottom: 1rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: transparent;
    }
    a {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 1180px) {
    .form {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .form {
        width: 100%;
        border-radius: 0;
        input {
            width: 100%;
        }
        button {
            width: 90%;
        }
    }
}