$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
    display: none;
    #update-profile {
        background-color: $color1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
        div {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            input {
                border-radius: 0.5rem;
                padding: 0.5rem;
                width: 90%;
            }
            div:first-of-type {
                display: flex;
                height: auto;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                overflow: auto;
                p {
                    font-size: 2rem;
                    word-break: break-all;
                }
                p:last-of-type {
                    margin-left: 0.5rem;
                }
            }
            label {
                margin-top: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                display: block;
            }
            ul {
                padding: 0;
                display: none;
                display: flex;
                flex-direction: row;
                overflow-y: hidden;
                overflow-x: scroll;
                width: 90%;
                min-height: 4.1rem;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                li {
                    list-style-type: none;
                    border: 1px solid black;
                    background-color: white;             
                    i {
                            margin: 0;
                            font-size: 3rem;
                            padding: 0.5rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                    }
                }
                .selected {
                    border: 1px solid red;
                    background-color: rgba(255, 0, 0, 0.05);
                }
            }
            p {            
                margin-top: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
            }
                    
            a {
                width: 18rem;
                margin-top: 2rem;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            a:hover {
                cursor: pointer;
            }
            button {
                width: 18rem;
                margin-top: 2rem;
                margin-bottom: 4rem;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            textarea {
                resize: none;
                min-height: 10rem;
                border-radius: 0.5rem;
                width: 90%;
                padding: 0.5rem;
            }
            em {
                font-size: 0.9rem;
                display: block;
            }
        }
    }
    #update-profile > * {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #update-password {        
        background-color: $color1;        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
        div {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            em {
                display: block;
                font-size: 0.9rem;
            }
            input {
                width: 90%;
                border-radius: 0.5rem;
                padding: 0.5rem;
            }
            button {
                width: 18rem;
                margin-top: 2rem;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 3rem;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            a {
                margin-top: 2rem;
                width: 18rem;
                padding-left: 0;
                padding-right: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
                color: white;
            }
            label {
                margin-top: 1rem;
                font-weight: 500;
                display: block;
            }
            label:first-of-type {
                margin-top: 3rem;
            }
        }
    }
    #update-password > * {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #delete-account {        
        background-color: $color1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
        div {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            a {
                width: 18rem;
                padding-left: 0;
                padding-right: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            a:first-of-type {
                margin-top: 2rem;
                color: white;
            }
            a:last-of-type {
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
            strong {
                display: block;
                margin-top: 3rem;
            }
        }
    }
    #delete-account > * {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

#bio {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: $color1;
    h3 {
        margin-top: 1rem;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    div:first-of-type {
        p {
            text-align: center;
            background-color: white;
            width: 90%;
            padding: 0.5rem;
            margin-left: auto;
            margin-right: auto;
        }
        i {
            font-size: 15rem;
            width: 100%;
            text-align: center;
        }
    }
    div:last-of-type {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        ul {
            border: 0.1rem solid black;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            background-color: lightblue;
            width: 100vw;
            z-index: 1;
            li {
                background-color: rgb(255, 255, 255);
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: center;
                text-transform: capitalize;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}

#reviews {
    width: 100%;
    background-color: $color2;
    margin-top: 1rem;
    text-align: center;
    div:last-of-type {
        font-size: 1rem;
        padding: 0.5rem;
        font-weight: 400;
        p {
            margin: 0;
            color: $black;
        }
    }
    div {
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        div {
            margin-top: 0.5rem;
            border: 0;
            a {
                display: inline-block;
                font-size: 1.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                margin-top: 1rem;
            }
            p:first-of-type {
                margin-top: 1rem;
                color: $red;
                font-size: 1.5rem;
            }
            p:last-of-type {
                margin-top: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
            }
            a:last-of-type {                
                margin-top: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        div:last-of-type {
            margin-bottom: 1rem;
        }
    }
    a {
        font-size: 1.2rem;
    }
}

.dropdown-menu li:hover {
    cursor: pointer;
    box-shadow: inset 50rem 50rem rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1000px) {
    #modal {
        #update-profile {
            width: 80%;
            div {
                height: auto;
                ul {
                    width: 50%;
                }
                input {
                    width: 50%;
                }
                textarea {
                    width: 50%;
                }
            }
        }
        #update-password {
            width: 80%;
            div {
                height: auto;
                input {
                    width: 50%;
                }
            }
        }
        #delete-account {
            width: 80%;
            div {
                height: auto;
            }
        }
    }
    #bio {
        width: 80%;
        div:last-of-type {
        ul {
            width: 30rem;
        }
    }
    }
    #reviews {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}