#searched {
    h2 {
        margin-left: auto;
        margin-right: auto;
    }
}

#results {
    div {
        height: 25rem;
        border: 1px solid black;
        img {
            height: 80%;
            width: 100%;
            object-fit: scale-down;
        }
        a {
            width: 100%;
            text-align: center;
            height: 15%;
            p {
                margin: 0;
                font-size: 1.8rem;
            }
        }
    }
}