$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;

p:last-of-type {    
    background-color: $color1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $color5;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    border: 0.2rem solid black;
}

#searched {
    border: 0.2rem solid black;
    background-color: $color1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    h2 {
        margin-left: auto;
        margin-right: auto;
        color: $color5;
        text-align: center;
    }
}

#results {
    padding: 0;
    div {
        height: 25rem;
        border: 0.2rem solid black;
        padding: 0.5rem;
        background-color: $color1;
        margin: 0;
        a {
            width: 100%;
            text-align: center;
            height: 100%;
            text-decoration: none;
            img {
                height: 70%;
                width: 100%;
                object-fit: scale-down;
                padding: 0.5rem;
            }
            p {
                height: 15%;
                margin: 0;
                font-size: 1.8rem;
                background-color: transparent;
                border: 0;
                text-align: center;
                font-size: 1.2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: $red;
            }
            p:last-of-type {
                color: $black;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        a:hover p:last-of-type {
            text-decoration: underline;
        }
    }
    div:hover {
        box-shadow: inset 50rem 50rem rgba(0, 0, 0, 0.1);
    }
}