@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// for base.css
// #background-image {
//     position: fixed;
//     height: 100vh;
//     width: 100vw;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     background-image: url("https://media.istockphoto.com/photos/starburst-on-lights-in-bourbon-aging-warehouse-picture-id859708976?k=6&m=859708976&s=612x612&w=0&h=23DFdTFiN-0Rv7dHtK6LD5whSmlbNFK-Hb_d7QS6aEU=");
//     background-position: center;
//     background-repeat: no-repeat; 
//     background-size: cover;
//     box-shadow: inset 50vw 50vw rgba(0, 0, 0, 0.5);
//     filter: blur(1px);
//     background-color: black;
// }


$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: rgba(255, 255, 255, 0.4);
$color2: white;
$color3: #BDAAA6;
$color4: rgba(153, 122, 115);
$color5: #C2AFAB;

// whiskey-details
#whiskey-details {
    width: 70%;
    height: 40rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;

    border: 3rem solid $color1;
    outline: solid $color2 0.5rem;
    
    position: relative;
    background-color: $color4;
    div:nth-of-type(1) {
        width: 25%;
        max-height: 100%;

        padding: 0;
        display: flex;
        align-items: center;
        img {
            height: 100%;
            width: 100%;

            padding-left: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            object-fit: scale-down;

            border: 0.5rem $color2 double;
            border-right: 0;

            z-index: 1;
        }
    }
   
    div:nth-of-type(2) {
        width: 50%;
        height: 100%;

        border-top: 0.5rem double $color2;
        border-bottom: 0.5rem double $color2;

        padding-top: 1rem;

        z-index: 1;
        div {
            height: auto;
            width: auto;

            background-color: transparent;
            padding: 0;

            display: flex;
            align-items: center;
            h3 {
                color: rgb(16, 8, 2);
                background-color: $color3;
                
                margin: 0;
                margin-left: auto;
                margin-right: auto;
                width: 80%;

                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                text-align: center;

                letter-spacing: -1px;

                padding-top: 0;

                border: 0.2rem dashed $color2;
                border-top: 0.4rem solid rgba(255, 255, 255, 0.562);
                border-radius: 0.2rem;

                padding: 0.2rem 0.5rem 0.2rem 0.5rem;

                z-index: 1;
                span {
                    color: $cream;
                }
            }
            p {
                background-color: $green;
                color: $red;
                font-size: 2rem;
                padding: $padding;
                margin-top: 2rem;
                border-radius: 1rem;
                margin-left: auto;
                border-right: 0.5rem dashed $color2;
                border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
                border-left: 0.5rem solid rgba(0, 0, 0, 0.1);
                padding-top: 0;
                border-bottom: 0.5rem dashed $color2;
                margin-right: auto;
            }
        }
        article {
            max-width: 100%;
            min-width: 90%;
            p {
                color: rgb(16, 8, 2);
                background-color: #BDAAA6;
                                
                margin: 1rem;

                font-size: 1.1rem;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;

                padding-top: 0;

                border: 0.2rem dashed $color2;
                border-top: 0.4rem solid rgba(255, 255, 255, 0.562);
                border-radius: 0.2rem;

                padding: 0.2rem 0.5rem 0.2rem 0.5rem;

                text-align: justify;

                z-index: 1;
            }
        }
    }
    div:nth-of-type(3) {
        width: 25%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        border: 0.5rem double $color2;
        align-items: center;
        border-left: 0;
        justify-items: flex-end;
        z-index: 1;
        p:first-of-type {
            margin-top: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            color: $black;
            font-family: $font;
            background-color: #BDAAA6;
            font-size: 1.2rem;
            border: 0.2rem rgba(0, 0, 0, 0.1) solid;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            i {
                font-size: 2.5rem;
                color: $red;
            }
        }
        p:last-of-type {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 3rem;
            display: flex;
            align-items: center;
            color: $black;
            font-family: $font;
            background-color: #BDAAA6;
            font-size: 1.2rem;
            padding: $padding;
            border: 0.2rem rgba(0, 0, 0, 0.1) solid;
            color: $black;
            margin-top: 1rem;
            em {
                font-style: unset;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
        a {
            margin-bottom: 1rem;
            width: 80%;
            margin-left: auto;
            margin-right: 1rem;
            border: 0.2rem solid rgba(0, 0, 0, 0.3);
            font-size: 1.3rem;
            font-family: 'Noto Sans', sans-serif;
            letter-spacing: 1px;
            background-color: #DC3545;
        }
        a:first-of-type {
            margin-top: auto;
            background-color: #007BFF;
        }
    }
}
#whiskey-details::after {
    content: "";
    background: url("https://c.stocksy.com/a/H4L900/z9/2225941.jpg");
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}



// comments
#comments {   
    border: 0.5rem double $color2;
    outline: 0.25rem solid $color2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: $color3;
    display: flex;
    align-items: center;
    p:first-of-type {
        color: $black;
        margin: 0;
        margin-left: 2rem;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    a {
        margin-left: auto;
        font-size: 1.4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    span {
        display: flex;
        margin-left: 1rem;
        margin-right: 2rem;
        color: $black;
        font-size: 1.8rem;
        height: 100%;
        align-items: center;
        p:last-of-type {
            margin-left: -1rem;
        }
    }
}
body {
    // background-color: rgba(100, 66, 39, 0.24);
}


.no-reviews {
    width: 70%;
    background-color: $color3;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    border: 0.5rem double $color2;
    outline: white solid 0.25rem;
    margin-top: 1rem;
    p {
        margin: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        a {
            background-color: $color1;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        }
    }
}
.reviews {
    display: flex;
    background-color: $color4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5rem double $color2;
    outline: solid 0.25rem $color2;
    display: flex;
    align-items: center;
    height: auto;
    div:nth-of-type(1) {
        height: 100%;
        width: 100%;
        div:first-of-type {
            height: auto;
            width: 100%;
            div:first-of-type {
                display: flex;
                    background-color: $color5;
                div:first-of-type {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    background-color: transparent;
                    padding: 0;
                    position: relative;
                    margin: 0;                    
                    #time {
                    }
                    h3 {
                        margin: 0;
                        font-family: 'Montserrat', sans-serif;
                        left: 0;
                        top: 0;
                        padding: 0;
                        a {                            
                            background-color: $color5;
                            padding: 0.5rem;
                            display: inline-block;
                            font-size: 1.6rem;
                            top: 0;
                            left: 0;
                            margin-right: auto;
                        }
                        i {
                            padding: 0.25rem;
                            border: 0.2rem solid #007BFF;
                            border-radius: 50%;
                        }
                    }
                    a:hover i {                        
                        border: 0.2rem solid #0056b3;
                    }
                }
                #edit-delete {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    div {
                        margin: 0;
                        a {
                            width: 8rem;
                            height: 2.5rem;
                            border: 0.2rem solid rgba(0, 0, 0, 0.3);
                            margin-right: 1rem;
                            font-size: 1.2rem;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }            
            div:last-of-type {
                display: flex;
                flex-direction: row;
                background-color: $color1;
                align-items: center;
                margin-top: 1rem;
                #user-rating {
                    color: $red;
                    font-size: 1.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    margin: 0;
                    margin-left: 1rem;
                    white-space: nowrap;
                }
                h3 {
                    margin: 0;
                    margin-left: 1rem;
                    font-size: 1.3rem;
                    padding: 0.5rem;
                }
                p:last-of-type {
                    margin-right: 1rem;
                    margin-left: auto;
                    font-style: italic;
                    background-color: transparent;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }        
        p:last-of-type {
            padding: 1rem;
            background-color: $color1;
            margin: 0;
            text-align: justify;
        }
    }
}


hr {
    width: 80%;
    border-top: 0.25rem solid $desert;
    background-color: $green;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
hr:last-of-type {
    display: none;
}

@media only screen and (max-width: 1564px) {
    #comments {
        width: 90%;
    }
    hr {
        width: 90%;
    }
    .reviews {
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    #comments {
        width: 100%;
    }
    hr {
        width: 100%;
    }
    .reviews {
        width: 100%;
    }
}
@media only screen and (max-width: 970px) {
    #comments {
        flex-direction: column;
        p:first-of-type {
            margin-left: 0;
        }
        a {
            margin-right: auto;
            text-align: center;
        }
        span {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            width: 4rem;
        }
    }
}



#leave-review {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 0.5rem double white;
    outline: 0.25rem white solid;
    background-color: $color4;
    padding: 1rem;
    margin-bottom: 1rem;
    color: $red;
    text-align: center;
    color: $black;
    h3 {
        background-color: $color1;        
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    input, textarea {
        border: 0.5 solid rgba(0, 0, 0, 0.4);
        padding: 0.5rem;
        border-radius: 1rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
        
    }
    label {
        font-size: 1.3rem;
        margin-top: 1rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
    #rating {
        font-size: 2rem;
        color: $red;
        margin: 0;
    }
    #score {
        opacity: 0;
        height: 0;
        width: 10px;
    }
    textarea {
        resize: none;
        height: 10rem;
    }
    button {
        margin-top: 1rem;
        width: 15rem;
        height: 4rem;
        font-family: 'Montserrat', sans-serif;
        color: $black;
        background-color: lightblue;
        font-size: 1.8rem;
        font-weight: 600;
        border: 0.25rem solid white;
        border-radius: 1rem;
        margin-right: auto;
        margin-left: auto;

    }
    a {
        margin-top: 1rem;
        background-color: $color1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1564px) {
    #whiskey-details {
        width: 90%;
    }
    .reviews, #leave-review, .no-reviews {
        width: 90%;
    }
}
@media only screen and (max-width: 1380px) {
    #whiskey-details {
        width: 90%;
    }
    .reviews, #leave-review, .no-reviews {
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    #whiskey-details {
        height: 55rem;
        border-radius: 0;
        border: 0;
        div:nth-of-type(1) {
            width: 40%;
            height: 65%;
        border-top: 0.5rem rgba(255, 255, 255, 0.7) double;
        border-left: 0.5rem rgba(255, 255, 255, 0.7) double;
            margin-left: -1rem;
        margin: 0;
            img {
                border: 0;
                height: 60%;
                height: 100%;
            }
        }
        div:nth-of-type(2) {
            width: 60%;
            height: 65%;
            margin-right: -0.5rem;
            border-bottom: 0;
            border-right: 0.5rem rgba(255, 255, 255, 0.7) double;
            div {
                border: 0;
                h3 {
                    width: 100%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
            article {
                margin-top: 1rem;
            }
        }
        div:nth-of-type(3) {
            width: 100%;
            height: 35%;
            margin-top: 0;
            border-top: 0;
            margin: 0;
            border-left: 0.5rem rgba(255, 255, 255, 0.7) double;
            justify-items: flex-start;
            p:first-of-type {
                margin-top: 1rem;
                font-size: 1.8rem;
            }
            p:last-of-type {
                margin-top: 0;
                flex-direction: row;
                align-items: center;
                em {
                    margin-left: 0.5rem;
                }
            }
            a {
                width: 50%;
                margin-right: auto;
            }
        }
    }
}
@media only screen and (max-width: 850px) {
    #whiskey-details {
        width: 100%;
        height: auto;
        margin-bottom: 0;
        margin: 0;
        margin-top: 1rem;
        div:nth-of-type(1) {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            height: 25rem;
            border-right: 0.5rem rgba(255, 255, 255, 0.7) double;
             }
    div:nth-of-type(2) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        border-top: 0;
        border-left: 0.5rem rgba(255, 255, 255, 0.7) double;
        
        div {
            padding: 0;
            h3 {
                font-size: 1.7rem;
                max-width: 100%;
                margin-right: 1rem;
                margin-left: 1rem;
                border-left: 0.25rem dashed white;
                padding-top: 0.25rem;
                text-align: center;
            }
        }
        article {
            width: 100%;
            height: auto;
            margin-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            p {
                font-size: 1rem;
                margin: 0;
                width: 100%;
            }
        }
    }
    div:nth-of-type(3) {
        height: auto;
    }
    }
    .reviews, #leave-review, .no-reviews {
        width: 100%;
    }
    #leave-review {
        input, textarea {
            width: 90%;
        }
        textarea {
            height: 15rem;
        }
    }
    .reviews {
    div:nth-of-type(1) {
        div:first-of-type {
            div:first-of-type {
                flex-direction: column;
                justify-content: center;
                #edit-delete {
                    margin-top: 1rem;
                    div {
                        a {
                        }
                    }
                }
            }            
            div:last-of-type {
                flex-wrap: wrap;
                #user-rating {
                    width: 100%;
                    text-align: center;
                    margin-right: 1rem;
                }
                h3 {
                    width: 100%;
                    text-align: center;
                    margin-right: 1rem;
                }
                p:last-of-type {
                    width: 100%;
                    text-align: right;
                    margin-left: 1rem;
                }
            }
        }        
    }
}
}

#delete-review {
    display: none;
    z-index: 10;
}
