$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;

$font1: 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;

#comments {   
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    a {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: rgb(0, 81, 255);
    }
    span {
        display: flex;
        width: 100%;
        color: $black;
        font-size: 1.8rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        p:first-of-type {
            color: $color5;
            margin: 0;
            font-size: 2rem;
            font-family: $font1;
            font-weight: 600;
            letter-spacing: 3px;
            margin-left: 1rem;
            margin-left: auto;
        }
        i {
            margin-left: 1rem;
        }
        p:last-of-type {
            margin: 0;
            font-family: monospace;
            font-weight: 800;
            font-size: 2.2rem;
            margin-left: 0.5rem;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width: 1564px) {
    #comments {
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    #comments {
        width: 100%;
    }
}
@media only screen and (max-width: 970px) {
    #comments {
        flex-direction: column;
        p:first-of-type {
            margin-left: 0;
        }
        a {
            margin-right: auto;
            text-align: center;
        }
        span {
            display: flex;
        }
    }
}