$green: #CAD4C0;
$red: rgb(199, 44, 68);
$cream: rgba(124, 96, 77, 0.59);
$desert: #C7AD9B;
$black: #212529;
$padding: 0.5rem 1rem 0.5rem 1rem;
$font: 'Poppins', sans-serif;

$color1: #dae8ec;
$color2: #dac5bc;
$color3: #b48464;
$color4: #572313;
$color5: #1d1611;

$font1: 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;

#leave-review {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 0.5rem double rgba(0, 0, 0, 0.2);
    background-color: $color2;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: $color5;
    h3 {     
        font-family: $font1;
        font-weight: 600;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    input, textarea {
        padding: 0.5rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        font-family: $font1;
        border-radius: 0.5rem;
        
    }
    label {
        font-size: 1.3rem;
        margin-top: 1rem;
        font-weight: 600;
        font-family: $font1;
    }
    #rating {
        font-size: 2.5rem;
        color: $red;
        margin: 0;
        i {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        i:hover {
            cursor: pointer;
        }
    }
    #score {
        opacity: 0;
        height: 0;
        width: 10px;
    }
    textarea {
        resize: none;
        height: 10rem;
    }
    button {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        width: 16rem;
        height: 2.5rem;
        font-family: $font1;
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: auto;
        margin-left: auto;

    }
    a {
        margin-top: 1.5rem;
        background-color: $color1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1564px) {
    #leave-review {
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    #leave-review {
        width: 100%;
    }
}
@media only screen and (max-width: 850px) {
    #leave-review {
        input, textarea {
            width: 90%;
        }
        textarea {
            height: 15rem;
        }
        #rating {
            i {
                font-size: 2rem;
            }
        }
    }
}